$colors:(
    primary:(
        100:#34313D,
        200:#3A3054,
        300:#4B3F6B
    ),

    light:(
        100:#9E9AA8,
        200:#EFF1F7,
        300:#fff,
        400:#bfbfbf
    ),

    blurish:(
        100:#2BD0D0,
        200:#9AE3E3
    ),
    danger:(
        100:#F46363
    )
    
)