@use "../abstracts/mixins" as *;

*,*::before,*::after{
    box-sizing: inherit;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: 
    url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), 
    url('../fonts/poppins-v20-latin-500.woff') format('woff'); 
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: 
    url('../fonts/poppins-v20-latin-700.woff2') format('woff2'),
    url('../fonts/poppins-v20-latin-700.woff') format('woff'); 
}

html, body{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

img {
    display: block;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky footer */
.site-main{
    flex-grow: 1;
}

@include container(1150px, 20px);