$font-family:(
    main:"Poppins"
);

$font-weights:(
    100:500,
    200:700
);

$type-scale:(
    small:(
        100:15px,
        200:16px,
        300:18px,
        400:20px,
        500:22px,
        600:28px,
        700:42px,
    ),
    medium:(
        700:50px
    ),
    large:(
        600:40px,
        700:80px
    )
);